@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* gold-nouveau theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

/* wintry theme */
:root[data-theme='wintry']
	--theme-rounded-base: 2rem
	--theme-rounded-container: 4px;